@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap");

/* Define the theme colors */
:root {
  --gray-darkest: #2e2c2c;
  --gray-dark: #545454;
  --gray-medium: #737373;
  --gray-light: #d9d9d9;
  --green: #94ec01;
  --green-dark: #74b40a;
}

body {
  background-color: #2e2c2c;
}

@layer components {
  .hero {
    @apply w-full text-[#333];
  }
}

.title {
  @apply m-0 w-full pt-20;
  font-size: 48px;
}

.title,
.description {
  @apply text-center;
}

/* Show Algolia results on top of the MUI elements */
.aa-Panel {
  z-index: 9999;
}

.aa-Autocomplete:not(:first-child) {
  display: none;
}

/* Tooltips  */
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/* Customize the Algolia Autocomplete styles */
/* Common Settings */
:root {
  /* Primary (icon) color */
  --aa-primary-color-rgb: 255, 255, 255;
  /* Muted color */
  --aa-muted-color-rgb: 200, 200, 200;
  /* Text color in the input box */
  --aa-text-color-rgb: 255, 255, 255;
  /* Search box bg = black */
  --aa-input-background-color-rgb: 0, 0, 0;
  /* Border color green */
  --aa-panel-border-color-rgb: 148, 236, 1; /* green */
  --aa-input-border-color-rgb: 148, 236, 1; /* green */
}

/* TODO: color the loading indicator background green */
/* .aa-LoadingIndicator svg {
  padding: 1.2rem;
  background-color: #94ec01;
  opacity: 0.2;
  color: white;
} */

/* When in light mode */
:root {
  /* Search results BG = Black */
  --aa-background-color-rgb: 46, 44, 44;
  --aa-primary-color-rgb: 148, 236, 1;
  /* Search results selected highlight color */
  --aa-selected-color-rgb: 148, 236, 1;
  --aa-description-highlight-background-color-rgb: 148, 236, 1;
}
.aa-Panel {
  --aa-text-color-rgb: 255, 255, 255;
  --aa-panel-overflow: scrollable;
}

/* When in dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Search Results BG = White */
    --aa-background-color-rgb: 255, 255, 255;
    --aa-primary-color-rgb: 148, 236, 1;
    /* Search results selected highlight color */
    --aa-selected-color-rgb: 148, 236, 1;
    --aa-description-highlight-background-color-rgb: 148, 236, 1;
  }
  .aa-Panel {
    --aa-text-color-rgb: 0, 0, 0;
    --aa-panel-overflow: scrollable;
  }
  .aa-DetachedCancelButton {
    --aa-text-color-rgb: 0, 0, 0;
  }
}


/* Animate the text on the about page */
/*Vertical Sliding*/
.slidingVertical {
  text-align: center;
  display: flex;
  justify-content: center;
}
.slidingVertical span {
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  opacity: 0;
  position: absolute;
  margin: 1rem;
}
.slidingVertical span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(50px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(-50px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }


/* Uploadcare Dialog Styling */
.uploadcare--panel__content {
  color: white;
  background: var(--gray-darkest);
}
.uploadcare--tab__action-button {
  background-color: var(--green);
  color: black;
  border: none;
}
.uploadcare--button_primary:focus,
.uploadcare--button_primary:hover {
  color: black;
  background-color: var(--green-dark);
  border: none;
}
/* Hide the powered by text */
.uploadcare--powered-by,
.uploadcare--powered-by__link {
  display: none;
}
